* {
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.control-container {
    display: flex;
    flex-direction: column;
}

/* BUTTONs */

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.active-btn {
    background-color: lightgray;
    box-shadow: inset 1px 1px 1px black;
}

button {
    background-color: white;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}


/* CHESSBOARD */
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.chessboard > div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000; /* Added border for better visibility */
}

.white {
    background-color: #eee;
}

.black {
    background-color: #575757;
}

/* CELLS CHANGE */
.start-cell {
    border: 3px rgb(0, 156, 0) solid !important;
}
.target-cell {
    border: 3px red solid  !important;
}

.knight-cell {
    background-image: url('images/knight.png');
    background-repeat: no-repeat;
    background-position: center;
}

.cell {
    color: red;
    font-size: 1.2rem;
}



/* Moves Container */
.moves-container {
    text-align: center;
}

.moves-header {
    font-size: 1.2rem;
    font-weight: 600;
}
.destination-container {
    font-weight: 600;
}

.moves-list {
    text-align: left;
    padding-top: 10px;
}
.moves-list>li {
    list-style-position: inside; 
}

